version: '3.9'

services:
  lms-backend:
    build: .
    container_name: lms-backend
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - rabbitmq
    env_file:
      - .env 
    environment:
      - REDIS_HOST=redis
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
    restart: unless-stopped
    networks:
      - backend-network

  lms-worker:
    build: .
    container_name: lms-worker
    depends_on:
      - redis
      - rabbitmq
    env_file:
      - .env 
    environment:
      - REDIS_HOST=redis
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run worker 
    restart: unless-stopped
    networks:
      - backend-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: lms-rabbitmq
    ports:
      - "5672:5672"   
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - backend-network

  redis:
    image: redis:7
    container_name: lms-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - backend-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: lms-redis-gui
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379
    depends_on:
      - redis
    networks:
      - backend-network

networks:
  backend-network:

volumes:
  redis-data:
  rabbitmq_data: